<head>


</head>
<body>        

<embed  aligin='center' src="videos/mov.mov" 
pluginspage="http://www.apple.com/quicktime/download/" 
scale="tofit" kioskmode="true" 
cache=true
controller=True 
type="video/quicktime" 
autoplay=true/>


</body>
