<head>


</head>
<body>        

<embed src="videos/mov.mov" 
pluginspage="http://www.apple.com/quicktime/download/" 
scale="tofit" kioskmode="False" 
qtsrc="videos/mov.mov" 
cache="false" 
controller="True" 
type="video/quicktime" 
autoplay="false">

</embed>

</body>
